# Modelo

## Librerias

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# Importar widgets interactivos para Jupyter Notebook
import ipywidgets as widgets

# Importar funciones de pycaret para regresión
from pycaret.regression import *

import warnings
warnings.filterwarnings('ignore')

## Cargar base de datos limpia

In [2]:
df = pd.read_csv('../database/clean/tetuan-pc.csv')
df.head()

              datetime   temp  humi     ws    gdf     df           pc
0  2017-01-01 00:00:00  6.559  73.8  0.083  0.051  0.119  70425.53544
1  2017-01-01 00:10:00  6.414  74.5  0.083  0.070  0.085  69320.84387
2  2017-01-01 00:20:00  6.313  74.5  0.080  0.062  0.100  67803.22193
3  2017-01-01 00:30:00  6.121  75.0  0.083  0.091  0.096  65489.23209
4  2017-01-01 00:40:00  5.921  75.7  0.081  0.048  0.085  63650.44627

## Comparación de modelos

### Intento 1

In [3]:
data_train = df.sample(frac=0.8, random_state=42)
data_test = df.drop(data_train.index)

data_train = data_train.reset_index(drop=True)
data_test = data_test.reset_index(drop=True)

print('Data para entrenamiento: ' + str(data_train.shape))
print('Data para test: ' + str(data_test.shape))

Data para entrenamiento: (41933, 7)
Data para test: (10483, 7)

In [4]:
s = setup(data = data_train, target = 'pc', session_id = 123)

In [5]:
best = compare_models()

In [6]:
print(best)

HuberRegressor()

In [7]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [8]:
predict_model(best)

,datetime,temp,humi,ws,gdf,df,pc,prediction_label
40902,2017-12-02 02:00:00,17.379999,55.660000,0.080,0.029000,0.119000,48193.578125,72690.375819
6053,2017-05-08 07:50:00,14.330000,82.000000,0.085,268.799988,260.000000,57167.246094,59403.920831
12784,2017-03-29 04:40:00,15.100000,61.330002,4.921,0.059000,0.085000,53386.851562,70071.324410
21624,2017-09-20 08:30:00,21.090000,93.800003,4.917,36.970001,31.440001,61012.296875,65558.308856
1,2017-12-27 17:10:00,15.920000,54.439999,0.085,19.120001,19.340000,78957.937500,71501.304802
...,...,...,...,...,...,...,...,...
37453,2017-06-03 16:30:00,23.059999,66.360001,0.069,608.500000,104.199997,76517.000000,71725.548289
7271,2017-05-15 22:30:00,18.459999,85.699997,4.920,0.055000,0.126000,85952.210938,65819.530642
4290,2017-09-17 22:00:00,21.330000,76.300003,4.914,0.048000,0.089000,83338.164062,71447.270854
11269,2017-06-21 14:50:00,26.799999,55.900002,0.067,828.000000,81.400002,82411.687500,77644.355899
29487,2017-03-04 05:00:00,14.650000,84.800003,4.908,0.018000,0.126000,49299.097656,62443.886702

In [9]:
prediction = predict_model(best, data = data_test)
prediction.head()

,datetime,temp,humi,ws,gdf,df,pc,prediction_label
0,2017-01-01 00:20:00,6.313,74.500000,0.080,0.062,0.100,67803.218750,56318.654400
1,2017-01-01 01:30:00,5.491,77.300003,0.082,0.062,0.111,57012.921875,54673.869967
2,2017-01-01 01:40:00,5.516,77.500000,0.081,0.051,0.108,55970.648438,54636.306964
3,2017-01-01 02:00:00,5.059,78.599998,0.081,0.070,0.096,54290.738281,53861.532589
4,2017-01-01 02:40:00,5.020,79.699997,0.081,0.051,0.134,51161.382812,53486.982585

### Intento 2

In [10]:
data_train = df[['temp', 'humi', 'ws','pc']].sample(frac=0.8, random_state=42)
data_test = df[['temp', 'humi', 'ws','pc']].drop(data_train.index)

data_train = data_train.reset_index(drop=True)
data_test = data_test.reset_index(drop=True)

print('Data para entrenamiento: ' + str(data_train.shape))
print('Data para test: ' + str(data_test.shape))

Data para entrenamiento: (41933, 4)
Data para test: (10483, 4)

In [11]:
s = setup(data = data_train, target = 'pc', session_id = 123)

In [12]:
best = compare_models()

In [13]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [14]:
predict_model(best)

            temp       humi     ws            pc  prediction_label
40902  17.379999  55.660000  0.080  48193.578125      66646.665664
6053   14.330000  82.000000  0.085  57167.246094      52976.649023
12784  15.100000  61.330002  4.921  53386.851562      64394.278711
21624  21.090000  93.800003  4.917  61012.296875      55693.754321
1      15.920000  54.439999  0.085  78957.937500      77690.502461
...          ...        ...    ...           ...               ...
37453  23.059999  66.360001  0.069  76517.000000      80867.574961
7271   18.459999  85.699997  4.920  85952.210938      76990.545547
4290   21.330000  76.300003  4.914  83338.164062      65278.692695
11269  26.799999  55.900002  0.067  82411.687500      88095.433281
29487  14.650000  84.800003  4.908  49299.097656      61003.911250

[12580 rows x 5 columns]

In [15]:
prediction = predict_model(best, data = data_test)
prediction.head()

    temp       humi     ws            pc  prediction_label
0  6.313  74.500000  0.080  67803.218750      63411.428359
1  5.491  77.300003  0.082  57012.921875      55419.465039
2  5.516  77.500000  0.081  55970.648438      56275.499336
3  5.059  78.599998  0.081  54290.738281      52240.666289
4  5.020  79.699997  0.081  51161.382812      52079.960508

In [16]:
#save_model(best, '../model/modelo_tetuan_pc')

In [17]:
prediction.to_csv('../database/predictions/prediction.csv', index=False)

### Intento 3

In [18]:
data_train = df[['temp', 'humi','pc']].sample(frac=0.8, random_state=42)
data_test = df[['temp', 'humi', 'pc']].drop(data_train.index)

data_train = data_train.reset_index(drop=True)
data_test = data_test.reset_index(drop=True)

print('Data para entrenamiento: ' + str(data_train.shape))
print('Data para test: ' + str(data_test.shape))

Data para entrenamiento: (41933, 3)
Data para test: (10483, 3)

In [19]:
s = setup(data = data_train, target = 'pc', session_id = 123)

In [20]:
best = compare_models()

In [21]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [22]:
predict_model(best)

            temp       humi            pc  prediction_label
40902  17.379999  55.660000  48193.578125      69271.516120
6053   14.330000  82.000000  57167.246094      68339.805022
12784  15.100000  61.330002  53386.851562      70513.423846
21624  21.090000  93.800003  61012.296875      58219.700352
1      15.920000  54.439999  78957.937500      75086.244834
...          ...        ...           ...               ...
37453  23.059999  66.360001  76517.000000      75485.352590
7271   18.459999  85.699997  85952.210938      64614.262040
4290   21.330000  76.300003  83338.164062      75651.486680
11269  26.799999  55.900002  82411.687500      80608.628881
29487  14.650000  84.800003  49299.097656      62523.394880

[12580 rows x 4 columns]

In [23]:
prediction = predict_model(best, data = data_test)
prediction.head()

    temp       humi            pc  prediction_label
0  6.313  74.500000  67803.218750      53587.433437
1  5.491  77.300003  57012.921875      52944.234137
2  5.516  77.500000  55970.648438      54268.325675
3  5.059  78.599998  54290.738281      52944.234137
4  5.020  79.699997  51161.382812      51730.839989

Segun el analisis de las metricas, el modelo 2: Random Forest Regressor parece ser el mejor de los tres. Tiene e MAE, MSE, RMSE, R2, RMSLE y MAPE mas bajos, lo que indica un mejor rendimiento general en terminos de precisión y capacidad para explicar la variabilidad en los datos.